@font-face {
  font-family: project-font;
  src: url("../assets/fonts/IRANSans\(FaNum\)_Light.ttf") format("ttf");
  src: url("../assets/fonts/IRANSansWeb\(FaNum\)_Light.woff") format("woff");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  direction: rtl;
  font-family: "project-font" !important;
}
body {
  background-color: #007acc;
  color: #ffffff;
  width: 100%;
}
.client_layout_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px auto;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  color: #007acc;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}