@font-face {
  font-family: project-font;
  src: url("../assets/fonts/Vazir.woff") format("woff");
  src: url("../assets/fonts/Vazir.woff2") format("woff2");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "project-font" !important;
}
body {
  font-family: "project-font" !important;
  background-color: #007acc;
  color: #ffffff;
  width: 100%;
}
textarea {
  resize: vertical;
}
.client_layout_content {
  width: 80%;
  height: 80%;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  color: #007acc;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
